@(weatherQueryForm: Form[WeatherQuery], weatherQueries: Seq[WeatherQuery])(
  implicit
    request: RequestHeader,
    messagesProvider: MessagesProvider
)

@import helper._

@main("Welcome to Play") {
  <h1>Things</h1>

  @if(weatherQueryForm.hasGlobalErrors) {
    <ul>
      @for(error <- weatherQueryForm.errors) {
        <li><strong>@error.key</strong>: @error.message</li>
      }
    </ul>
  }

  @helper.form(action = routes.WeatherQueriesController.post()) {
    @CSRF.formField
    @helper.select(
      field = weatherQueryForm("resolution"),
      options = Seq("hour" -> "Hour", "day" -> "Day", "week" -> "Week")
    )
    @helper.inputDate(weatherQueryForm("startDate"))
    @helper.inputDate(weatherQueryForm("endDate"))

    <input type="submit" value="Get dat weather" />
  }

  <table>

    <thead>
      <tr>
        <th>Resolution</th>
        <th>startDate</th>
        <th>endDate</th>
      </tr>
    </thead>

  @for(weatherQuery <- weatherQueries) {
    <tr>
      <td>@weatherQuery.resolution</td>
      <td>@weatherQuery.startDate</td>
      <td>@weatherQuery.endDate</td>
    </tr>
  }

  </table>
}
