@(results: List[gubmint.WeatherResult], weatherQuery: WeatherQuery)

@main("Whether") {
  <h1>Weather Query @weatherQuery.id</h1>

  <table>
    <thead>
      <tr>
        <th>
          Resolution
        </th>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          @weatherQuery.resolution
        </td>
        <td>
          @weatherQuery.startDate
        </td>
        <td>
          @weatherQuery.endDate
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>
          Station
        </th>
        <th>
          Key
        </th>
        <th>
          Year/Month/Day
        </th>
        <th>
          Rainfall
        </th>
      </tr>
    </thead>

    <tbody>
      @for(result <- results) {
        <tr>
          <td>
            @result.station
          </td>
          <td>
            @result.key
          </td>
          <td>
            @result.year
            /
            @result.month
            /
            @result.day
          </td>
          <td>
            @result.rainfall
          </td>
        </tr>
      }
    </tbody>
  </table>
}
